@model Hospital.Models.Utentes

@{
	ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Utente</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create"  method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="NumTelemovel" class="control-label"></label>
				<input asp-for="NumTelemovel" class="form-control" />
				<span asp-validation-for="NumTelemovel" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Nome" class="control-label"></label>
				<input asp-for="Nome" class="form-control" />
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="NumUtente" class="control-label"></label>
				<input asp-for="NumUtente" class="form-control" />
				<span asp-validation-for="NumUtente" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="NIF" class="control-label"></label>
				<input asp-for="NIF" class="form-control" />
				<span asp-validation-for="NIF" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DataNascimento" class="control-label"></label>
				<input asp-for="DataNascimento" class="form-control" />
				<span asp-validation-for="DataNascimento" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Sexo" class="control-label"></label>
				<input asp-for="Sexo" class="form-control" />
				<span asp-validation-for="Sexo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Foto" class="control-label"></label>
				@*<input asp-for="Foto" class="form-control" />*@
				@*Mostrar uma preview da foto do utente*@
				<img id="imgVer" src="/Fotos/Utentes/semFoto.png" alt="imagem" height="100" />
				<input type="file" id="novaFoto" name="novaFoto"
					   class="form-control" accept=".jpg,.png" onchange="MostraPreview(event)" />
				<span asp-validation-for="Foto" class="text-danger"></span>
				<span asp-validation-for="Foto" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Voltar à Lista</a>
</div>

<script type="text/javascript">
    @*Mostra uma preview da imagem na img com id 'imgVer'*@
    function MostraPreview(event) {
        var output = document.getElementById('imgVer');
        if(event.target.files.length !== 0){
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src)
            }
        }else{
            document.getElementById('imgVer').src = '/Fotos/Medicos/semFoto.png';
        }
    };
</script>

@section Scripts {
    @{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

}
