@model Hospital.Models.Consultas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Consultas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtenteFK" class="control-label"></label>
                <select asp-for="UtenteFK" class ="form-control" asp-items="ViewBag.UtenteFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="MedicoFK" class="control-label"></label>
                <select asp-for="MedicoFK" class ="form-control" asp-items="ViewBag.MedicoFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticoFK" class="control-label"></label>
                <select asp-for="DiagnosticoFK" class ="form-control" asp-items="ViewBag.DiagnosticoFK"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
